$height: 46px

.stopwatch-form
    display: flex
    // padding: 17px 19px
    border-radius: $height / 2
    border: 1px solid #aaa
    &__input
        font-size: 1.305rem
        color: #aaa
        border: none
        background: none
        margin-right: auto
        outline: none
        flex: 1
        padding: 0 19px
    &__submit-wrap
        height: $height - 4px
        width: $height - 4px
        cursor: pointer
    &__submit-btn
        display: none
    &__submit-icon
